name: CI    
on: [push, pull_request]
    
jobs:
  build:
    strategy:
      matrix:
        runs-on: [ubuntu-18.04, windows-2019]
    name: ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    steps:
      - run: dotnet --info
      - uses: actions/checkout@v1
        with:
          ref: ${GITHUB_REF} 
      - if: contains(matrix.runs-on, 'windows')
        run: build.cmd
      - if: contains(matrix.runs-on, 'ubuntu')
        run: ./build.sh